<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FindIt - Report</title>
</head>
<body>
    <h1>Let's report the item!</h1>

    <form action="" class="form" name="reportItem">
        <div class="form-group">
            <label for="">Document type:</label>
            <select name="" id="" class="form-control">
                <option value="">opt 1</option>
                <option value="">opt 2</option>
                <option value="">opt 3</option>
                <option value="">opt 4</option>
                <option value="">opt 4</option>
                <option value="">opt 6</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">Date report:</label>
            <input type="date" name="" value="" class="form-control" placeholder="enter the ...">
        </div>
        <div class="form-group">
            <label for="">Owner name:</label>
            <input type="text" name="" value="" class="form-control" placeholder="enter the ...">
        </div>
        <div class="form-group">
            <label for="">Document number:</label>
            <input type="text" name="" value="" class="form-control" placeholder="enter the ...">
        </div>
        <div class="form-group">
            <label for="">Descritption:</label>
            <textarea name="" class="form-control" id="" cols="30" rows="2"></textarea>
        </div>
        <div class="form-group">
            <label for="">Use the same contact information:</label>
            <input type="radio" name="contact" value="Same" id=""><label for="">Yes</label>
            <input type="radio" name="contact" value="Other" id=""><label for="">No</label>
        </div>
        <button type="button" class="btn" id="btnReport">Report item!</button>
    </form>
</body>
</html>