<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FindIt - Search Engine</title>
</head>

<body>
    
    <a href="searchEngine.html">Search</a>
    <a href="reports.html">Reports</a>
    <button class="btn" onclick="logout()">Logout</button>
    <h1>Search Engine</h1>

    <script src="../assets/js/main.js"></script>
    <!-- <script src="../assets/js/report_lost.js"></script> -->
</body>

</html>